/* Global css  start*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

    font-size: 18px;
}
/* Global css end*/


/* Coming soon area css start */

.coming-soon-area{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 5px 0px;
}
.product-image-area {
    background-image: url(assets/img/coffeeset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: change 25s infinite ease-in-out;
    min-height: 80vh;
}
.container{
    margin: auto;
    text-align: center;
}
.cs-content{
    max-width: 760px;
    margin: auto;
    padding: 25px 30px;
}
.site-logo{
    margin: 22px 0px;
}
.site-logo a{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.cs-content h1{
    color:#0B2751;
    font-size: 72px;
    font-weight: 900;
    

}
.cs-content h4{
    color: black;
    margin: 10px 35px;
}
.form{
    margin: 50px 0px;
}
.form input{
    background: #ffffff85;
    color:#0B2751;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    margin: 5px 0px;
    padding: 20px;
    width: 67%;
    border-radius: 5px;
}
.email-field::placeholder{
    color:black;
}
.form input[type="submit"]{
    width: 120px;
    background: #0B2751;
    color: white;
    cursor: pointer;
}
.countdown-timer{
    margin: 35px 0px;
}
.timer-item{
    display: inline-block;
    background:  #0B2751;
    margin: 5px 3px;
    padding: 20px;
    min-width: 140px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 5px;
}
.timer-item span{
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.social-media-set ul li
{
    display: inline-block;
    margin-left: 120px;
    left:320px;
    bottom: 30px;
    position: relative;
}

/* Coming soon area css end */


/* Responsive css start */

@media screen and (max-width: 767px){
    .site-logo{
        margin-bottom: 50px;
    }
    .cs-content h1{
        font-size: 50px;
    }
    .cs-content p{
        line-height: 26px;
        margin: 10px 0px;
    }
    .form input[type="email"]{
        width: 100%;
    }
}
@keyframes change {
0%{
    background-image: url(assets/img/carrom.jpg);
}  
30%{
    background-image: url(assets/img/barbiegirl.jpeg);
} 
90%{
    background-image: url(assets/img/helicopter.jpg);
}
}